<div class="jumbotron" ng-controller="MainController as vm">
  <div class="container">
    <!--Section for displaying charts-->
    <div class="row">
      <div class="col-xs-12">
        <highchart id="chart1" config="vm.chartConfig" class="span10"></highchart>
      </div>
    </div>
    <!--Section for displaying stock options and adding a new ones-->
    <div class="row">
      <div class="col-xs-4" ng-repeat="stock in vm.stockList track by $index">
        <div class="stock">
          <button type="button" class="close" aria-label="Close" ng-click="vm.removeStock(stock.id)"><span aria-hidden="true">&times;</span></button>
          <h3>{{stock.symbol}}</h3>
          <span>{{stock.name}} ({{stock.symbol}}) Prices, Dividends, Splits and Trading Volume</span>
        </div>
      </div>
      <div class="col-xs-4">
        <div class="symbolInput">
          <span><strong>Syncs in realtime across clients</strong></span>
          <form class="form-inline" ng-submit="vm.addStock()">
            <div class="form-group">
              <input type="text" class="form-control" ng-model="vm.stockCode" placeholder="Stock code">
            </div>
            <button type="submit" class="btn btn-success">Add</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>